* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

}
body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
.navbar {
  background: linear-gradient(135deg, #4f79b2, #1c3d67);  /* Elegant gradient */
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: 600;
}

.navbar-nav .nav-item .navbar-brand {
  font-weight: 500;
  letter-spacing: 0.5px;
}
.carousel-inner {
  position: relative;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
.carousel-item img{
	width: 90%;
	height: 40%;
  transition: opacity 0.5s ease-in-out;

}

.color-white{
    color:white;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: gray;
}

a:active {
  text-decoration: none;
}

.horizontal-card-img img{
	width: 100%;
	height: 40vh;



}

.container {
  padding: 50px 0;
}

.about_img{
	min-width: 100%;
	max-height: 280px;
 margin-top: 20px;
  border-radius: 10px;
}

.my-service img{
	width: 50%;
	height: 50%;
}

.chekcout-my-profile{
	background: #a6dcef;
}
.btn-outline-info {
  border-radius: 30px;
  padding: 12px 25px;
  font-size: 1rem;
}

.btn-outline-info:hover {
  background-color: #1c3d67;
  color: white;
}
footer {
  background-color: #2b3d4f;
  padding: 20px;
}
footer p{
	margin-bottom: 0;
	  font-size: 1.2rem;
  letter-spacing: 1px;
}


/*.my-service .row>*{
	padding-right: 0;
    padding-left: 0;
}*/

/*for responsive design*/
/*// X-Small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { ... }
